/* Base container for the menu */
.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
}

/* Each category section */
.menu-section {
  width: 90em;
  margin: 0 auto 1.5em;
}

/* Category header */
.menu-section h2 {
  color: var(--primary-dark);
  font-size: 1.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

/* Hidden by default, visible when active */
.menu-items {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  width: 100%;
}

/* Active state of menu items */
.menu-items.active {
  max-height: 100%;
  transition: max-height 0.8s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual menu item */
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  align-items: center;
  /* background-color: var(--white-accent); */
  box-shadow: 0 0 8px black;
  padding-bottom: 15px;
  border-radius: 15px;
  width: 20%;
  margin: 25px;
  /* font-size: 1.1rem; */
  font-weight: 500;
}

/* Item image */
.item-img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 8px black;
}
