/* Navigation Main */
.nav-main {
  background-color: var(--white);
  padding: 0em 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px var(--primary-dark);
  z-index: 999;
  width: 100%;
}

/* Navigation Wrapper */
.nav-wrapper {
  max-width: 90em;
  margin: 0 auto;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;

}

/* Logo */
.navbar-logo {
  max-width: 12.5em;
}

.hamburger-menu {
  display: none;
}

.bar {
  background-color: var(--primary-dark);
  height: 3px;
  width: 25px;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links ul li {
  margin-right: 1em;
  padding: 0 1em;
}

.navbar-links ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: inherit;
}

.navbar-links ul li a:hover {
  cursor: pointer;
  color: var(--secondary-highlight);
}

.active {
  border-bottom: 2px solid var(--secondary-highlight);
}

/* .header-left {
  flex: 1;
  text-align: center;
} */

@media only screen and (max-width: 600px) {
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    z-index: 999;
    margin-right: 5px;
    margin-top: 15px;
  }

  .navbar-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--white);
    width: 100%;
    z-index: 998;
  }

  .navbar-links.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: var(--white);
    width: 100%;
    z-index: 998;
  }

  .navbar-links.open ul {
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 10;
    text-align: center;
  }

  .navbar-links.open ul li {
    padding: 1em;
    border-bottom: 1px solid var(--primary-dark);
    width: 300%;
  }

  .navbar-links.open ul li:last-child {
    border-bottom: none;
  }

  .navbar-links.open ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: inherit;
  }
  
  
  .navbar-links.open.flex {
    display: flex;
  }

  .header-left {
    flex: 1;
    text-align: center;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }
