/* Navigation Main */
.nav-main {
  background-color: var(--white);
  padding: 0em 0;
  position: sticky;
  top: 0;
  box-shadow: 0 0 8px var(--primary-dark);
  z-index: 999;
  width: 100%;
}

/* Navigation Wrapper */
.nav-wrapper {
  max-width: 90em;
  margin: 0 auto;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.navbar-logo {
  max-width: 12.5em;
}

/* Navigation Links */
.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links ul li {
  margin-right: 1em;
  padding: 0 1em;
}

.navbar-links ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: inherit;
}

.navbar-links ul li a:hover {
  cursor: pointer;
  color: var(--secondary-highlight);
}

/* Active Link Styling */
.active {
  border-bottom: 2px solid var(--secondary-highlight);
}
